<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="raffler admin template">
  <meta name="author" content="">
  <title>Dashboard | Raffler Admin</title>
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/favicon.png">
  
  <% include ../include/styles.ejs %>
  <link rel="stylesheet" href="/assets/global/vendor/formvalidation/formValidation.css">
  <link rel="stylesheet" href="/assets/global/vendor/dropify/dropify.css">
  <link rel="stylesheet" href="/assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/assets/global/vendor/jt-timepicker/jquery-timepicker.css">
  <link rel="stylesheet" href="/assets/global/vendor/ladda-bootstrap/ladda.css">
  <link rel="stylesheet" href="/assets/global/vendor/datetimepicker/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/global/vendor/datatables-bootstrap/dataTables.bootstrap.css">
  <link rel="stylesheet" href="/assets/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
  <link rel="stylesheet" href="/assets/global/vendor/datatables-responsive/dataTables.responsive.css">
  <link rel='stylesheet' href='/css/include/navbar.css'>
  <!-- Scripts -->
  <script src="/assets/global/vendor/modernizr/modernizr.js"></script>
  <script src="/assets/global/vendor/breakpoints/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>
<body class="dashboard">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <% include ../include/navbar.ejs %>

  <% include ../include/menubar.ejs %>

  <% include ../include/gridmenu.ejs %>

  <!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
        
            <!-- Create Raffle -->
            <div class="col-xlg-4 col-md-4">
                <div class="panel" id = "create_raffle_panel">

                    <div class="panel-heading">
                        <h3 class="panel-title">Create Raffle</h3>
                    </div>
                    <div class="panel-body">
                        <form id="frm_create_raffle" autocomplete="off">
                            <div class="row form-group form-material">
                                <label class="control-label">Title<span class="required">*</span></label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Title of Raffle" required />
                            </div>
                            <div class="row form-group form-material">
                                <label class="control-label">Description<span class="required">*</span></label>
                                <textarea class="form-control" id="description" name="description" rows="3" placeholder="characters between 10 and 500" required></textarea>
                            </div>
                            <div class="row form-group form-material">
                                <label class="control-label">Total Winners<span class="required">*</span></label>
                                <input type="text" class="form-control" id="winners_num" name="winners_num" data-fv-between="true" data-fv-between-min="1" data-fv-between-max="999999" data-fv-between-message="please enter between[1,999999]" placeholder="range = [1, 999999]" data-fv-field="vRange" required>
                            </div>
                            <div class="row form-group form-material">
                                <label class="control-label">Needed Raffles<span class="required">*</span></label>
                                <input type="text" class="form-control" id="raffles_num" name="raffles_num" data-fv-lessthan="true" data-fv-lessthan-value="5000" data-fv-greaterthan-message="please enter less than 5000" placeholder="max = 5000" data-fv-field="vMax" required>
                            </div>
                            <div class="row form-group form-material">
                                <label class="control-label">EndAt<span class="required">*</span></label>
                                <div class='input-group date' id='datetimepicker'>
                                    <input type='text' class="form-control" name="ending_date" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <input type="file" id="input-file-now" data-plugin="dropify" data-default-file="" data-allowed-formats="landscape square" data-max-file-size="1M" data-max-height="1000" />
                                <p class="help">Only landscape or square images, 1M max and 1000px max-height.</p>
                            </div>
                            <div class="row text-right">
                                <!-- Publish Button -->
                                <button type="submit" id="btn_submit" name="btn_submit"  class="btn btn-primary ladda-button" data-style="expand-left" data-plugin="ladda">
                                <span class="ladda-label">Publish</span>
                                <span class="ladda-spinner"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xlg-8 col-md-8">
            
                <!-- Panel Basic -->
                <div class="panel" id="list_raffles_panel">
                    <header class="panel-heading">
                        <div class="panel-actions"></div>
                        <h3 class="panel-title">Raffles</h3>
                    </header>
                    <div class="panel-body">
                        <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable" id="tbl_raffles">
                            <thead>
                            <tr>
                                <th class="col-md-2">Title</th>
                                <th class="col-md-4">Description</th>
                                <th class="col-md-1">Closed</th>
                                <th class="col-md-3">Date</th>
                                <th class="col-md-1">$$</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Closed</th>
                                <th>Date</th>
                                <th>$$</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Panel Basic-->
            </div>

        </div>
    </div>
  </div>
  <!-- End Page -->
  
  <!-- Footer -->
  <!-- <footer class="site-footer">
    <div class="site-footer-legal">© 2017 <a href="http://rafferchat.com">Raffler LLC</a></div>
    <div class="site-footer-right">
      Developed with <i class="red-600 icon md-favorite"></i> by <a href="http://rafferchat.com">Raffler TEAM</a>
    </div>
  </footer> -->

<% include ../include/scripts.ejs %>

<script src="/assets/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="/assets/global/vendor/switchery/switchery.min.js"></script>
<script src="/assets/global/vendor/intro-js/intro.js"></script>
<script src="/assets/global/vendor/screenfull/screenfull.js"></script>
<script src="/assets/global/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/assets/global/vendor/formvalidation/formValidation.min.js"></script>
<script src="/assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
<script src="/assets/global/vendor/dropify/dropify.min.js"></script>
<script src="/assets/global/vendor/datepair-js/datepair.min.js"></script>
<script src="/assets/global/vendor/datepair-js/jquery.datepair.min.js"></script>
<script src="/assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/global/vendor/jt-timepicker/jquery.timepicker.min.js"></script>
<script src="/assets/global/vendor/ladda-bootstrap/spin.js"></script>
<script src="/assets/global/vendor/ladda-bootstrap/ladda.js"></script>
<script src="/assets/global/vendor/moment/moment.min.js"></script>
<script src="/assets/global/vendor/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/global/vendor/datatables/jquery.dataTables.js"></script>
<script src="/assets/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
<script src="/assets/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
<script src="/assets/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
<script src="/assets/global/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
<script src="/assets/global/js/components/matchheight.js"></script>
<script src="/assets/global/js/components/dropify.js"></script>
<script src="/assets/global/js/components/datepair-js.js"></script>
<script src="/assets/global/js/components/bootstrap-datepicker.js"></script>
<script src="/assets/global/js/components/jt-timepicker.js"></script>
<script src="/assets/global/js/components/buttons.js"></script>
<script src="/assets/global/js/components/ladda-bootstrap.js"></script>
<script src="/assets/global/js/components/datatables.js"></script>
<script src="/js/dashboard/create_raffle.js"></script>

</body>
</html>