<!-- Modal -->
<div class="modal fade modal-fill-in in" id="loadingModal" aria-hidden="false" aria-labelledby="exampleFillIn"
role="dialog" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body text-center">
        <!-- Loader -->
        <div class="loader-wrapper active">
            <div class="loader-layer loader-blue-only">
            <div class="loader-circle-left">
                <div class="circle"></div>
            </div>
            <div class="loader-circle-gap"></div>
            <div class="loader-circle-right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
        <!-- End Loader -->
        </div>
    </div>
    </div>
</div>
<!-- End Modal -->