<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="bootstrap admin template">
  <title>Error</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
  <!-- Page -->
  <div class="">
    <div class="page-content container-fluid">
      <div class="row" data-plugin="matchHeight" data-by-row="true">

<%= message %>. Please click <a href="/">here</a> to continue or hit back button.

      </div>
    </div>
  </div>
  <!-- End Page -->
<% include ../html/body_end %>
<% include ../html/html_end %>
